body{
    font-family: Merriweather;
    width:1370px;
    padding:50px;
}
header{
    border-radius: 16px;
    background-image:radial-gradient(rgba(0, 0, 0, 0.454),rgba(255, 255, 255, 0)), url("resources/Banner\ Image.png");

    width: 1320px;
    height: 600px;
    text-align: center;
    align-content: center;
}
.t1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    margin-top: 140px;
}
.t2{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    margin:16px 344px 117px 344px;
}


/* main */
.off{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    margin-top:120px;
    margin-bottom: 48px;
}
.off-t{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}
.cata{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 16px 0px 48px 0px;
}
.off-img{
    width: 802.9px;
    height: 500px;
    padding-left: 280px;
}

.Welcome-h{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    margin-top: 126px;
    margin-left: 126px;
    }
.wel-p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    margin-top: 48px;
    margin-left: 126px;
}
.btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 48px;
    margin-left: 158px;
    background: none;
    border: none;
}
.s2{
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    display:flex;
    border-radius: 16px;
    margin-top: 120px;
}
.s2-right{
    padding:68px 138px 67px 62px ;
}

.s3{
    background:linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin-top: 120px;
}
.event{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding:100px 386px 60px 385px;
}
.event-color{
    color: red;
}
.btn-e{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    width: 167px;
    height: 56px;
    border: none;
    margin-left: 576px;
}